body {
    margin: auto;
    font-family: Lato;
}

#header {
    margin-top: 0;
    text-align: center;
    padding: 40px;
    background-color: rgb(0, 123, 147);
    color: white;
}

    #header h1 {
        margin-bottom: -12px;
    }

#links {
    background-color: lightblue;
    margin-top: -22px;
    display: flex;
    justify-content: center;
}

    #links a {
        padding: 18px 20px;
        color: black;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
    }

        #links a:hover {
            background-color: floralwhite;
        }

#intro {
    line-height: 2;
}

    #intro .column {
        float: left;
    }
    
        .left {
            margin: 12px 12px;
            width: 22%;
        }

        .right {
            margin-top: -12px;
            margin-left: 6px;
            width: 50%;
        }

#intro::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:800px) {
    .left, .right {
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    #links {
        display: inline-flex;
        flex-wrap: nowrap;
    }
}